
@import url('https://fonts.googleapis.com/css2?family=Belleza&family=Montserrat:wght@100;200;300;400;500;600;700&family=Poppins:wght@100;200;300;400;500;600&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    scroll-behavior: smooth;

}

@media only screen and (min-width: 600px) {


body #magicMouseCursor {
    position: fixed;
    width: 35px;
    height: 35px;
    border: 2px solid #fff;
    border-radius: 50%;
    z-index: 9999;
    left: 0;
    top: 0;
    transition: transform 0.07s, width 0.3s, height 0.3s;
    pointer-events: none; }
    body #magicMouseCursor.cursor-square {
      border-radius: 0; }
  
  body #magicPointer {
    height: 5px;
    width: 5px;
    top: 0;
    left: 0;
    position: fixed;
    background: #fff;
    border-radius: 50%;
    pointer-events: none;
    transition: background 0.2s, width 0.2s, height 0.2s, box-shadow 0.2s; }
    body #magicPointer.is-hover {
      background: red; }
    body #magicPointer.pointer-blur {
      height: 50px;
      width: 50px;
      background-color: gray;
      opacity: 0.5;
      border: 0.2px solid #fff;
      box-shadow: 0px 0px 15px -5px white; }
    body #magicPointer.pointer-overlay {
      height: 50px;
      width: 50px;
      mix-blend-mode: difference;
      box-shadow: 0px 0px 15px -5px white; }
  
  body .magic-hover {
    transition: all 0.2s; }
    body .magic-hover:hover {
      cursor: none; }

    }



    


   
/* 
  #imgGallery{
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;

  } */

